fastapi
uvicorn
python-dotenv
requests
pydantic
langchain
langchain-community
langchain-openai
langchain-google-genai
openai
chromadb
sentence-transformers
assemblyai
ffmpeg-python
moviepy
yt-dlp
pydub
