fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
openai
google-generativeai
assemblyai
yt-dlp
ffmpeg-python
python-dotenv
sqlalchemy
aiofiles
python-multipart
pydantic
sentence-transformers